.header {
  flex-direction: column;
  background-color: aquamarine;
  text-align: center;
  /* white-space: nowrap; */
  min-height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  top: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  min-width: 100%;
}

.book-tile {
  width: 10vh;
  padding-left: 1vh;
}

.book-list {
  display: flex;
  flex-flow: row wrap;
  padding: 1vh;
}

/* h1 {
  margin: 0;
  color: blueviolet;
  white-space: nowrap;
}

h3 {
  margin: 0;
  color: blueviolet;
  white-space: nowrap;
} */