.header {
  flex-direction: column;
  background-color: #1877F2;
  text-align: center;
  /* white-space: nowrap; */
  min-height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  top: 0px;
}

.lockscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #74ABE2, #1877F2);
  height: 100vh;
  width: 100vw;
}

.login-card {
  background-color: aliceblue;
  border-radius: 5%;
  height: 300px;
  width: 300px;
  align-items: center;
  vertical-align: middle;
}

.book-tmb {
  /* height: 20vh; */
  /* padding: 2vh; */
  /* width: auto; */
  max-width: 7vw;
  /* max-height: 20vh; */
  min-height: 17vh;
  padding: 2vh;
}

.book {
  vertical-align: top;
  padding: 2vh;
  display: flex;
  flex-flow: column;
  width: 7vw;
}

.shelf {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: top;
  /* vertical-align: text-top; */
  vertical-align: top;
  width: 100vw;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  min-width: 100%;
}

.flex-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  vertical-align: middle;
  min-width: 20%;
}

.header-link {
  color:white;
  vertical-align: bottom;
}

.book-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  /* max-width; */
}

.book-tile {
  height: 23vh;
  padding: 2vh;
  align-self:center;
}

.book-list {
  display: flex;
  flex-flow: column;
  padding: 4vw;
  text-align: center;
  width: 10vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
} */


.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.card {
  flex: 0 0 auto;
  width: 20%;
  /* height: 200px; */
  height: auto;
  margin-right: 10px;
  background: #8C8;
  scroll-behavior: smooth;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}