.header {
  flex-direction: column;
  background-color: #1877F2;
  text-align: center;
  /* white-space: nowrap; */
  min-height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  top: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  min-width: 100%;
}

.book-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  /* max-width; */
}

.book-tile {
  height: 23vh;
  padding: 2vh;
  align-self:center;
}

.book-list {
  display: flex;
  flex-flow: column;
  padding: 4vw;
  text-align: center;
  width: 10vw;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}